@import '../../styles/colors';

.ProductPage{
    .body{
        background: linear-gradient(90deg, $bg 50%, $purple 50%);
        display: flex;
        flex-direction: row;
        padding: 100px 0 0 0 ;

        .left{
            padding: 50px 0 0 100px;
            width: 50%;

            .productTitle{
                font-size: 3rem;
            }
            .productDescription{
                font-weight: 500;
                font-size: 1.5rem;
                width: 80%;
                letter-spacing: 2px;
            }
        }
        .right{
            .image{
                width: 400px;
                max-width: 500px;
            }
        }
    }
}